.loading-container {
  background-color: #85858585;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.loading-circle {
  position: fixed;
  top: 45%;
  left: 45%;
}

html {
  font-size: 14px;
}

body {
  font-family: Roboto, Arial, sans-serif;
}