* {
  margin: 0;
  padding: 0;
  font-family: monospace !important;
}

a {
  text-decoration: none;
}

.home_page-container {
  position: absolute;
  width: 100%;
}

.header {
  justify-content: flex-start;
  width: 100%;
  display: flex;
  border-bottom: 2px solid aquamarine;
}

.page-logo {
  width: 170px;
  padding: 0 20px;
  cursor: pointer;
}

.user_manage {
  display: flex;
  margin-left: auto;
}

.user_login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}

.date-time {
  margin: 15px;
  border-left: 2px solid;
  border-right: 2px solid;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-list-page {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-desktop {
  margin: 0 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.menu-item {
  height: 100%;
  color: #000 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.menu-item-child {
  width: 200px;
  font-size: 16px !important;
  padding: 10px !important;
}

.menu-mobile {
  display: none;
}

.menu-mobile-icon {
  display: none !important;
}

/* ---------------------Mobile-Start--------------------------------- */

@media only screen and (max-width: 600px) {

  .page-logo {
    padding: 0 10px;
  }
  
  .user_login {
    padding: 0 10px;
  }

  .greeting {
    display: none;
  }

  .menu-mobile {
    top: 70px;
    position: fixed;
    flex-direction: column;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 10px;
    width: 50%;
    z-index: 100;
    background-color: white;
    left: 25%;
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile-icon {
    display: block !important;
  }

}

/* ---------------------Mobile-Start--------------------------------- */

/* ---------------------Loading-Start--------------------------------- */
.loading {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10000;
}

/* HTML: <div class="loader"></div> */
.loader {
  position: fixed;
  top: 30%;
  left: 47%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

/* ---------------------Loading-End--------------------------------- */