* {
  margin: 0;
  padding: 0;
  font-family: monospace !important;
}

p {
  margin-bottom: 0 !important;
}

.app-header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
}

.app-body {
  margin-top: 60px;
  overflow: hidden;
}

.app-footer {
  position: fixed;
  bottom: 0;
  height: 240px;
  width: 100%;
  z-index: 100;

}

.header-container {
  background-color: white;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  border-bottom: 2px solid aquamarine;
}

.logo-container {
  align-items: center;
  width: 30%;
  display: flex;
}

.logo-text {
  font-weight: bold;
  font-size: 15px;
  color: aquamarine;
  text-shadow: 2px 2px 2px #2e7579;
}

.user_manage {
  width: 70%;
  display: flex;
  margin-left: auto;
}

.page-logo {
  padding: 10px 0;
  height: 60px;
  margin: 0px 10px;
  cursor: pointer;
}

.user_login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.user-list-page {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu-container {
  margin: 0 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  color: #000 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.menu-item-child {
  width: 150px;
  padding: 15px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.news-list-modify-container {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
}

.news-list-modify-container h1 {
  text-align: center;
  width: 100%;
  margin: 20px;
}

.news-list-modify-flex {
  align-items: center;
  width: 800px;
  gap: 20px;
  margin: 20px auto;
  justify-content: space-between;
  display: flex;
}

.user-list-page-name {
  width: 450px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news-carousel-container {
  width: 660px;
}

.news-carousel-container img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
}

.component-title {
  margin: 20px 0;
}

.carousel-caption {
  right: 0 !important;
  left: 0 !important;
  background-color: #00000091;
}

.carousel-button {
  background-color: black;
}

.carousel-caption-text {
  margin: auto;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-detail-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 800px;
  margin: auto;
  padding: 20px;
}

.news-detail-container i {
  padding: 20px;
  display: block;
}

.news-detail-container-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.footer-container {
  border-top: 2px solid #4FFFB8;
  display: flex;
}

.footer-page-tab-right {
  flex-grow: 1;
}


.footer-info {
  font-size: 15px;
  gap: 20px;
  margin: auto 20px;
  display: flex;
  flex-direction: column;
}

.footer-image {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

.news-tab {
  padding: 20px;
  box-shadow: 1px 3px 7px -1px gray;
  border-radius: 15px;
  width: 600px;
  cursor: pointer;
}

.news-tab-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  margin: 10px 0
}

.news-tab-row-1 img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.news-tab b {
  display: block;
  margin-left: 25px;
  font-size: 15px;
}

.weather-container {
  margin-top: 20px;
  background-size: cover;
  height: 335px;
  width: 420px;
  padding: 20px;
  border-radius: 15px;
  transition: 1s;
}

.weather-container h3 {
  text-align: center;
  height: 55px;
  border-radius: 15px;
  background-color: #00000075;
  padding: 0px 20px;
  color: white;
}

.weather-today {
  color: white;
  border-radius: 15px;
  margin-top: 15px;
  background-color: #00000099;
  display: flex;
  justify-content: space-around;
}

.weather-today img {
  width: 50px;
  height: 50px;
}

.weather-today-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.weather-nextdays img {
  height: 30px;
  width: 30px;
}

.weather-nextdays {
  padding-top: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-nextdays-detail {
  width: 60px;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 15px;
  align-items: center;
  gap: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.premier-leauge-form-container {
  display: flex;
}

.premier-leauge-form-W {
  color: white;
  background-color: green;
  padding: 5px 8px;
}

.premier-leauge-form-D {
  color: white;
  background-color: rgb(194, 194, 0);
  padding: 5px 8px;
}

.premier-leauge-form-L {
  color: white;
  background-color: red;
  padding: 5px 8px;
}

.premire-leauge-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.manage-system-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar-container {
  border-right: 2px solid #4FFFB8;
}

.footer-page-logo {
  display: flex;
  background-color: #33A476;
  justify-content: flex-end;
}

.footer-page-logo-img {
  background-color: white;
  height: 50px;
  padding: 0px 23px;
}

.footer-info-container {
  height: 170px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px;
}

.footer-page-copyright {
  background-color: #B9C1C3;
  height: 20px;
  text-align: center;
}

.statistic-container {
  display: flex;
  justify-content: space-around;
}

.statistic-tab {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 7px 2px grey;
}

.statistic-tab-ribbon {
  height: 5px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.report-container {
  padding: 40px;
}

/* ---------------------Loading-Start--------------------------------- */
.loading {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10000;
}

/* HTML: <div class="loader"></div>
.loader {
  position: absolute;
  top: 30%;
  left: 47%;
  width: 100px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  mask: var(--_m);
  mask-composite: subtract;
  animation: l3 1s infinite linear;
} */

/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 55px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}

/* ---------------------Loading-End--------------------------------- */

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #4FFFB8 #B9C1C3;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #B9C1C3;
  border: 2px solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B9C1C3;
}

*::-webkit-scrollbar-track:active {
  background-color: #B9C1C3;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #4FFFB8;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #33A476;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #33A476;
}